<div  *ngIf="lit.TEXT_AREA != type" class="input" [ngClass]="{'selected': selected, 'error': error}">
  <input
    #field
    type="{{fieldType}}"
    placeholder="{{placeholder}}"
    (focus)="inputFocus()"
    (focusout)="inputFocusOut()"
    (input)="update($event.target.value)"
  />
  <div class="icon red" *ngIf="error">
    <i class="material-icons center">clear</i>
  </div>
  <div class="icon green" *ngIf="successful">
    <i class="material-icons">done</i>
  </div>
</div>
<textarea
  [ngClass]="{'selected': selected, 'error': error}"
  *ngIf="lit.TEXT_AREA === type"
  (focus)="inputFocus()"
  (focusout)="inputFocusOut()"
  placeholder="{{placeholder}}"
  (input)="update($event.target.value)"
></textarea>
<div class="messages" [ngClass]="{'error': error}">
  <ul>
    <li *ngFor="let error of errors">
      {{error}}
    </li>
  </ul>
</div>
  