<div class="top-buttons">
  <a href="https://www.linkedin.com/in/kevyn-hale-4285698a/" target="_blank">
    <div class="top-button">
      Linked In
    </div>
  </a>
  <div class="top-button" (click)="showRecommend()">
    Ask me to Speak
  </div>
</div>

<div class="intro">
  A list of my past jobs, education, presentations, and accomplishments!
</div>

<div class="underline"></div>

<div class="loading" *ngIf="(loading$ | async)">
  <img src="assets/images/30.svg">
</div>

<section *ngIf="!(loading$ | async)">
  <div class="section-title">
    Jobs
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.jobExperience || []">

  </div>
</section>
<section *ngIf="!(loading$ | async)">
  <div class="section-title">
    Education
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.jobExperience || []">

  </div>
</section>
<section *ngIf="!(loading$ | async)">
  <div class="section-title">
    Presentations
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.jobExperience || []">

  </div>
</section>

<app-overlay *ngIf="_showSideModal">
    <app-side-modal [whiteList]="['top-button']">
      <router-outlet></router-outlet>
    </app-side-modal>
</app-overlay>
