<div class="top-buttons">
  <a href="https://www.linkedin.com/in/kevyn-hale-4285698a/" target="_blank">
    <div class="top-button">
      Linked In
    </div>
  </a>
  <div class="top-button" (click)="showRecommend()">
    Ask me to Speak
  </div>
</div>

<div class="intro">
  A list of my past jobs, education, presentations, and accomplishments!
</div>

<div class="underline"></div>

<div class="loading" *ngIf="(loading$ | async)">
  <img src="assets/images/30.svg">
</div>

<section *ngIf="!(loading$ | async) && (resume$ | async)?.jobExperience.length > 0">
  <div class="section-title">
    Jobs
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.jobExperience || []">
    <div class="section-image">
      <img [src]="item.image">
    </div>
    <div class="section-content">
      <div class="title-row">
        <div>{{item.business}}: {{item.position}}</div>
        <div class="detail-button" (click)="showJobDetail(item.id)">Job Detail</div>
      </div>
      <div class="date-row">
        {{item.startDate}} to {{item.endDate}}
      </div>
      <div class="summary-row">
        {{item.summary}}
      </div>
    </div>
  </div>
</section>
<section *ngIf="!(loading$ | async) && (resume$ | async)?.education.length > 0">
  <div class="section-title">
    Education
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.education || []">
    <div class="section-image">
      <img [src]="item.image">
    </div>
    <div class="section-content">
      <div class="title-row">
        <div>{{item.school}}: {{item.degree}}</div>
        <div class="detail-button" (click)="showEducationDetail(item.id)">Detail</div>
      </div>
      <div class="date-row">
        {{item.startDate}} to {{item.endDate}}
      </div>
      <div class="summary-row">
        {{item.summary}}
      </div>
    </div>
  </div>
</section>
<section *ngIf="!(loading$ | async) && (resume$ | async)?.presentation.length > 0">
  <div class="section-title">
    Presentations
  </div>
  <div class="section-item" *ngFor="let item of (resume$ | async)?.presentation || []">
    <div class="section-image">
      <img [src]="item.image">
    </div>
    <div class="section-content">
      <div class="title-row">
        <div>{{item.event}}: {{item.title}}</div>
        <div class="detail-button" (click)="showPresentationDetail(item.id)">Watch</div>
      </div>
      <div class="date-row">
        {{item.date}}
      </div>
      <div class="summary-row">
        {{item.summary}}
      </div>
    </div>
  </div>
</section>

<app-overlay *ngIf="_showSideModal">
    <app-side-modal [whiteList]="['top-button', 'detail-button']">
      <router-outlet></router-outlet>
    </app-side-modal>
</app-overlay>
