@import '../../../../styles.scss';

.top-buttons {
  display: flex;
  flex-direction:row;
  height: 50px;

  .top-button {
    font-weight: bold;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0px 15px;
    background-color: $rl-box-background;
    border: 1px solid $rl-review;
    color: $rl-review;
    font-family: $body-font;
    font-size: 24px;

    margin-right: 20px;
    &:hover {
        cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
      font-size:18px;
    }
  }
}

section {

  padding: 10px 0px;

  div.section-title {
    font-size: 36px;
    color: #30558A;
    font-family: $body-font;
  }

  .section-item {
    margin-top: 10px;
    min-height: 100px;
    background-color: #EAEEF4;
  }
}