<div class="container">
  <div class="side">
      <a routerLink="/portfolio"><div class="back">Back</div></a>
      <div class="header-image" [ngStyle]="{'background-image': 'url(' + post.featuredimage + ')'}"></div>
      <div class="info-box">
        <span class="info info-title">{{post.title}}</span>
        <span class="info info-date">{{post.date}}</span>
        <span class="info info-summary">{{post.summary}}</span>
      </div>
      <div class="line-break"></div>
      <div class="social">
          <app-social-media class="horizontal"></app-social-media>
      </div>
  </div>
  <div class="content"></div>
</div>