<div class="loading" *ngIf="(loading$ | async)">
  <img src="assets/images/30.svg">
</div>

<div class="body-container" *ngIf="!(loading$ |async)">
  <div class="side">
      <a routerLink="/portfolio"><div class="back">Back</div></a>
      <div class="header-image" [ngStyle]="{'background-image': 'url(' + (project$ | async)?.featuredimage + ')'}"></div>
      <div class="info-box">
        <span class="info info-title">{{(project$ | async)?.title}}</span>
        <span class="info info-date">{{(project$ | async)?.date}}</span>
        <span class="info info-summary">{{(project$ | async)?.summary}}</span>
      </div>
      <div class="line-break"></div>
      <div class="social">
          <app-social-media class="horizontal"></app-social-media>
      </div>
  </div>
  <div class="gutter">
    <app-post-icons class="center vertical" [likes]="(project$ | async)?.likes" [shares]="(project$ | async)?.shares" [comments]="(project$ | async)?.comments"></app-post-icons>
  </div>
  <div class="content">
    <a routerLink="/portfolio"><div class="back back-content">Back to Projects</div></a>
    <div class="title-row">
      <div class="title-icon">
        <img src="{{(project$ | async)?.icon}}">
      </div>
      <div class="title-value">
        {{(project$ | async)?.title}}
      </div>
    </div>
    <app-post-icons class="center horizontal icons-post" [likes]="(project$ | async)?.likes" [shares]="(project$ | async)?.shares" [comments]="(project$ | async)?.comments"></app-post-icons>
    <div class="featured-image">
      <img src="{{(project$ | async)?.featuredimage}}">
    </div>
    <div class="post-date">
        {{(project$ | async)?.date}}
      </div>
    <div class="summary">
      {{(project$ | async)?.summary}}
    </div>
    <div [innerHtml]="(project$ | async)?.content" class="post-content"></div>
    <div class="end-line-break"></div>
    <div class="comment new-comment">
        <div class="container-comment">
          <div class="circle"><mat-icon class="icon">chat_bubble_outline</mat-icon></div>
          <div class="text">Write New Comment</div>
        </div>
    </div>
  </div>
  
</div>