<div class="title">
  Message Sent!
</div>
<div class="info">
  Thanks for reaching out! I look forward to working with you. In the meantime, take a look at some of my latest posts.
</div>

<a routerLink="/blog/2">
  <div class="post">
    <div class="image">
      <img src="assets/images/postimage1.png">
    </div>
    <div class="post-info">
      <div class="post-title row">
        <span>This is the new title a super  </span>
      </div>
      <div class="post-date row">
        <span>Aug 15, 2019</span>
      </div>
    </div>
    <div class="like">
        <app-post-icons
          class="center vertical gray"
          [likes]="5"
          [showShares]="false"
          [showComments]="false"
        ></app-post-icons>
    </div>
  </div>
</a>
<a routerLink="/blog/1">
  <div class="post">
    <div class="image">
      <img src="assets/images/postimage2.png">
    </div>
    <div class="post-info">
      <div class="post-title row">
        <span>This is the new title</span>
      </div>
      <div class="post-date row">
        <span>Aug 15, 2019</span>
      </div>
    </div>
    <div class="like">
        <app-post-icons
          class="center vertical gray"
          [likes]="5"
          [showShares]="false"
          [showComments]="false"
        ></app-post-icons>
    </div>
  </div>
</a>