@import '../../../../styles.scss';

$nav-height: 75px;
$nav-height-mobile: 50px;


.dropdown {
    position:fixed;
    width:calc(100% - 0px);
    top:$nav-height-mobile;
    left:0;
    height:auto;
    background-color:$dark-focus;
    z-index:10;
    display:flex;
    flex-direction:column;
    padding:0px 0px;

    a{
        padding:15px 40px;
        color:white;
        font-family: $body-font;
        width:calc(100% - 80px);
        font-size:28px;
        font-weight: 300;

        &.selected {
            background-color:$dark-dark-focus;
            box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.50);
            border-bottom:1px solid $focus;
        }

    }

    &.closed {
        display:none;
    }

}

@media only screen and (min-width: 700px) {
    .dropdown {
        display: none;
    }
}