@import '../../../../styles.scss';

a {

}

.item {
    width:240px;
    height:280px;
    background-color:gray;
    border-radius: 5px;
    margin:0px auto;
    border:1px solid $light-border;
    position:relative;

    .cover {
        width: 100%;
        height:calc(100% - 10px);
        background-color:rgba(202, 206, 212, 0.7);
        position:relative;
        border-radius:5px;
        padding-top: 10px;

        &:hover {
            cursor:pointer;
        }
    }

    .title {
        position:absolute;
        z-index:2;
        bottom:0px;
        width:calc(100% - 14px);
        background-color:white;
        text-align:center;
        border-top:1px solid $light-border;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        letter-spacing: .05cm;
        font-family: $nav-item-font;
        font-size: 15px;
        color: $dark-light;
        padding:7px;

        &:hover {
            cursor:pointer;
        }
    }

}