@import '../../../../../styles.scss';

.row, .title, .summary {
  margin-bottom: 25px;
}

.title, .submit, .summary {
  font-family: $body-font;
}

.title {
  color: #30558A;
  font-size: 30px;
  font-weight: bold;
}

.summary {
  color: #30558A;
  font-size: 24px;
}


.submit {
  height: 50px;
  background-color: #30558A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  width: 150px;
  justify-content: center;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}