@import '../../../../styles.scss';

.biography {
            
    color: $dark;
    font-family: $body-font;
    letter-spacing: .03cm;
    //word-spacing: .04cm;
    font-size:20px;
    line-height:40px;
    //font-weight:bold;
    margin-bottom:80px;
}

:host /deep/ .biography {
    img {
       max-width: 100%;
    }
}
