<div class="intro">
    Here is a catalog of the books that I am reading. Click to see my synopsis of the book and what I learned. I’d love any recommendations and I'll give you credit in my review!
</div>

<div class="underline"></div>

<div class="top-buttons">
  <div class="dropdown">
    <app-ky-select-dropdown class="reading-list" [items]="dropDownItems"></app-ky-select-dropdown>
  </div>
  <div class="recommend-book" (click)="showRecommend()">
    Recommend Book
  </div>
</div>

<div class="loading" *ngIf="(loading$ | async)">
  <img src="assets/images/30.svg">
</div>

<div class="box" *ngFor="let item of (readingList$ | async)">
  <div class="cover-image">
    <img src="{{item.coverImage}}">
  </div>
  <div class="info-column">
    <div class="container title">{{item.title}}</div>
    <div class="container book-info">
      <span>{{item.dateAdded}}</span>
      <div class="circle"></div>
      <span>{{item.author}}</span>
    </div>
    <div class="container objects">
      <div class="review" (click)="getSingle(item.id)">
        SEE MY REVIEW
      </div>
      <div class="rating">
        <div class="filled-star" *ngFor="let star of array(item.rating)">☆</div>
        <div class="empty-star" *ngFor="let star of array(5 - item.rating)">☆</div>
      </div>
      <div class="category">
        {{item.category}}
      </div>
    </div>
  </div>
  
</div>

<app-overlay *ngIf="_showSideModal">
    <app-side-modal [whiteList]="['review', 'recommend-book']">
      <router-outlet></router-outlet>
    </app-side-modal>
</app-overlay>

