@import '../../../styles.scss';

.side-modal {
    position: absolute;
    overflow-y: scroll;
    right:0px;
    width: 50%;
    height: 100vh;
    background-color: #eaf1fb;
    background-image: linear-gradient(-179deg, #ECF1F8 1%, #FFFFFF 98%);
    min-width: 700px;
    //animation: slide .75s forwards;

    .inner-modal {
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        margin: 40px;
    }

    .close {
        font-family: $body-font;
        border: 1px solid $focus;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 24px;
        color: $focus;
        margin-bottom: 20px;
        display:none;

        &:hover {
            cursor: pointer;
        }
    }
    
}


@keyframes slide {
    100% { right: 0px; }
}

@media only screen and (max-width: 700px) {


    .side-modal {
        width: 100%;
        min-width: 0px;

        .close {
            display: block;
        }
    }

}