<div class="intro">
    A list of my past jobs, education, presentations, and accomplishments!
  </div>
  
  <div class="underline"></div>

  <div class="loading" *ngIf="(loading$ | async)">
    <img src="assets/images/30.svg">
  </div>

  <div class="container" *ngIf="!(loading$ | async)">
    <div class="milestone-cont" *ngFor="let milestone of (milestones$ | async)">
      <div class="milestone">
        <div class="date">{{milestone.date}}</div>
        <div class="summary">{{milestone.content}}</div>
      </div>
    </div>
    <div class="milestone-cont"><div class="milestone filler"></div></div>
    <div class="milestone-cont"><div class="milestone filler"></div></div>
    <div class="milestone-cont"><div class="milestone filler"></div></div>
    <div class="milestone-cont"><div class="milestone filler"></div></div>
    <div class="milestone-cont"><div class="milestone filler"></div></div>
      
  </div>
    