<app-sidebar-socialmedia></app-sidebar-socialmedia>
<div class="container">
  <div class="image">
    <img src="assets/images/hiremeimage.png">
  </div>
  <div class="title">
    Contact Me
  </div>
  <div class="info">
      Need help building a webapp? Send me a message and I’ll get right back to you with a quote.
  </div>
  <div class="form">
    <div class="row">
      <div class="input">

      </div>
      <div class="gutter"></div>
      <div class="input">
        
      </div>
    </div>
    <div class="row">
      <div class="input">
  
      </div>
      <div class="gutter"></div>
      <div class="input">
          
      </div>
    </div>
    <textarea>

    </textarea>
    <div class="submit">
      Submit
    </div>


  </div>
</div>