<app-sidebar-socialmedia></app-sidebar-socialmedia>

<div class="title">
    Portfolio
  </div>
<div class="container">

  <div class="dropdown">
      <app-ky-select-dropdown [items]="dropDownItems"></app-ky-select-dropdown>
  </div>

  <div class="row">
    <div class="group search">
      <app-search-box (value)="searchBoxInput($event)"></app-search-box>
    </div>
    <div class="gutter empty"></div>
    <div class="group empty"></div>
  </div>

  <div class="row buttons-row">
      <div class="group">
        <div class="button" (click)="filter('all')" [ngClass]="{'selected': (category$ | async) == 'all'}">All</div>
        <div class="gutter"></div>
        <div class="button" (click)="filter('devops')" [ngClass]="{'selected': (category$ | async) == 'devops'}">Devops</div>
      </div>
      <div class="gutter"></div>
      <div class="group">
          <div class="button" (click)="filter('web apps')" [ngClass]="{'selected': (category$ | async) == 'web apps'}">Web Apps</div>
          <div class="gutter"></div>
          <div class="button" (click)="filter('design')" [ngClass]="{'selected': (category$ | async) == 'design'}">Design</div>
      </div>
  </div>

  <div class="projects">
    <div class="loading" *ngIf="(loading$ | async)">
      <img src="assets/images/30.svg">
    </div>
    <div class="items" *ngIf="!(loading$ | async)">
      <div class="item" *ngFor="let project of (projects$ | async)">
          <a routerLink="/portfolio/{{project.id}}">
            <app-project-item [post]="project"></app-project-item>
          </a>
      </div>
      <!-- Empty items below to balance out row.. 0 height so they don't cause problems-->
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>


</div>