@import '../../../styles.scss';

.title {
    letter-spacing: .03cm;
    font-family: $body-font;
    font-size: 48px;
    font-weight: bold;
    color: $dark;
    margin-bottom:20px;
    text-align:center;
    display:none;
}

.container {
    max-width:1200px;
    margin: 0px auto 25px;
    min-height:200px;

    .intro {
        padding: 20px 0px 35px;
        border-bottom: 1px solid $focus;
        color: $dark;
        font-family: $body-font;
        letter-spacing: .03cm;
        font-weight:bold;
        font-size:28px;
        margin-bottom:50px;
    }

    .utilities {
        display:flex;
        flex-direction:row;
        width: 100%;
        height: auto;
        flex-wrap:wrap;

        app-ky-select-dropdown {
 
            height:50px;
            margin-bottom:25px;
            margin-right:30px;
        }

        app-search-box {
            width: 40%;
            margin-right:30px;
            min-width:300px;
            height:50px;
            margin-bottom:25px;
        }

        .subscribe {
            width:15%;
            border-radius:5px;
            line-height: 50px;
            text-align:center;
            letter-spacing: .05cm;
            font-family: $body-font;
            font-weight:bold;
            font-size: 24px;
            border: 1px solid transparent;
            box-shadow: none;
            color:white;
            background-color:$focus;
            min-width:180px;
            height:50px;
            margin-bottom:50px;

            &.top {
                display:none;
            }

            &:hover {
                cursor:pointer;
            }

        }
    }

    .post {
        background-color:$light-background;
        width:calc(100% - 40px);
        border-bottom:1px solid $focus;
        min-height:100px;
        margin-bottom:30px;
        padding:20px;
        display:flex;
        flex-direction:row;

        &:hover {
            cursor: pointer;
        }

        .left {
            display:flex;
            flex-direction: column;
            width: 250px;
            margin-right:30px;

            .image {
                width:250px;
                height: 250px;

                img {
                    width:100%;
                    height:100%;
                }

            }
            .icons {
                padding-top:20px;

                app-post-icons {
                    &.vertical {
                        display:none;
                    }
                }
            }
        }

        .right {
            width: 100%;
            display:flex;
            flex-direction:column;
            color: $dark;
            
            div {
                margin-bottom: 20px;
                letter-spacing: .03cm;
                font-family: $body-font;
            }

            .post-title {

                font-size: 48px;
                font-weight: bold;
                

            }
            .date {
                font-size:18px;

            }
            .post-summary {
                font-size:20px;
                line-height:40px;
            }
            .tags {
                display: flex;
                flex-wrap:wrap;
                flex-direction:row;
                margin-bottom:0px;

                .tag {
                    padding: 5px 25px;
                    margin-right:20px;
                    border-radius:5px;
                    border: 1px solid $light-border;
                    text-align:center;
                    letter-spacing: .05cm;
                    //box-shadow:inset 0px 0px 0px 3px $white;
                    font-size: 24px;
                    color: $dark-light;
                }
            }
        }
    }


}

@media only screen and (max-width: 800px) {
    .container {

        .post {
            .left {
                width:150px;

                .image {
                    width:150px;
                    height:150px;
                }
            }
        }
    }


}

@media only screen and (max-width: 600px) {

    .title {
        display:block;
    }

    .container {

        .intro {
            text-align:center;
            font-size:20px;
            padding-top:0px;
            position:relative;
            left:-25px;
            width:calc(100% + 50px);
            margin-bottom:25px;
        }
        .utilities {
            display:block;

            app-ky-select-dropdown {
                display:block;
                width:100%;
                margin-right:0px;
            }
            app-search-box {
                display:block;
                margin-right:0px;
                min-width: 100px;
                width:calc(100% - 2px);
                margin-bottom:35px;
            }

            .subscribe {
                margin: 50px auto;
                margin-top: 0px;

                &.top {
                    display:block;
                    margin-bottom:25px;
                }

                &.bottom {
                    display:none;
                }
            }
        }

        .post {
            position:relative;
            padding:15px;
            left:-25px;
            width:calc(100% + 20px);
            max-width:calc(100% + 20px);
            //overflow:hidden;

            .left {
                width:100px;

                .image {
                    width:100px;
                    height:100px;
                    border:1px solid $dark;
                }

                .icons {
    
                    app-post-icons {
                        &.horizontal {
                            display:none;
                        }

                        &.vertical {
                            display:initial;
                        }
                    }
                }
            }

            .right {

                div {
                    margin-bottom:10px;
                }

                .post-title {
                    font-size:24px;
                }

                .post-summary {
                    font-size:14px;
                    line-height:28px;
                }

                .tags {

                    .tag {
                        font-size:14px;
                        padding: 5px 8px;
                    }
                }

            }
        }
    }


}
