<app-sidebar-socialmedia></app-sidebar-socialmedia>
<div class="title">
  Blog
</div>
<div class="container">
  <div class="intro">
      Kevyn’s musings on all things devops, development and design.
  </div>
  <div class="utilities">
    <div class="subscribe top">Subscribe</div>
    <app-ky-select-dropdown></app-ky-select-dropdown>
    <app-search-box (value)="searchBoxInput($event)"></app-search-box>
    <div class="subscribe bottom">Subscribe</div>

  </div>

  <a *ngFor="let post of (posts$ | async)" routerLink="/blog/{{post.id}}">
  <div class="post">
    <div class="left">
      <div class="image">
        <img src="{{post.featuredimage}}">
      </div>
      <div class="icons">
          <app-post-icons
            class="icons horizontal center nohover"
            [likes]="post.likes"
            [shares]="post.shares"
            [comments]="post.comments">
          </app-post-icons>
          <app-post-icons
            class="icons vertical center nohover"
            [likes]="post.likes"
            [shares]="post.shares"
            [comments]="post.comments">
          </app-post-icons>
      </div>
    </div>
    <div class="right">
      <div class="post-title">{{post.title}}</div>
      <div class="date">{{post.date}}</div>
      <div class="post-summary">{{post.summary}}</div>
      <div class="tags">
        <div *ngFor="let tag of post.tags" class="tag">{{tag.name}}</div>
      </div>
    </div>

  </div>
</a>



</div>