<app-sidebar-socialmedia></app-sidebar-socialmedia>
<div class="title">
    About
  </div>
<div class="profile-image">
  <img src="assets/images/profile-color2-low.png">
</div>
<div class="intro">
    I am a fullstack web developer that specializes in automation and custom tooling within linux server environmnents. I can help save your business countless of billable hours so you can spend your time on what really matters. 
</div>
<div class="transition">
  See My...
</div>

<div class="button-row">
  <ul>
    <li class="gutter"></li>
    <ng-container *ngFor="let item of dropDownItems">
      <li class="button">
        <a (click)="navigate(item)" [routerLink]="'/about/' + cleanRoute(item)" routerLinkActive="selected">
          <span>{{item}}</span>
        </a>
      </li>
      <li class="gutter"></li>
    </ng-container>
  </ul>
</div>

<div class="dropdown">
  <app-ky-select-dropdown [items]="dropDownItems"></app-ky-select-dropdown>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

