@import '../../../styles.scss';

$margin-bottom: 35px;

.title {
    letter-spacing: .03cm;
    font-family: $body-font;
    font-size: 48px;
    font-weight: bold;
    color: $dark;
    margin-bottom:20px;
    text-align:center;
    display:none;
}

.profile-image {
    padding-top:40px;
    width:100%;
    text-align:center;
}

.intro {
    /* I am a fullstack web: */
    font-family: $body-font;
    font-size: 28px;
    color: $dark-light;
    letter-spacing: 1px;
    text-align: center;
    line-height: 45px;
    width:70%;
    max-width:1000px;
    margin: 50px auto $margin-bottom;
}

.transition {
    font-family: $title-font;
    color:$dark;
    font-size:64px;
    text-align:center;
    width:100%;
    margin-bottom: $margin-bottom;
}

.button-row {
    width:100%;
    max-width:1200px;
    margin: 0px auto $margin-bottom;

    ul {
        display:flex;
        flex-direction: row;
        margin:0px;
        padding:0px;
        list-style:none;
        flex-shrink: 0;

        li {
            text-align:center;
            margin-right:10px;

            &.gutter {
                flex-grow:1;
            }

            &.button {

                span {
                    padding: 5px 30px;
                    border: 1px solid $focus;
                    box-shadow:inset 0px 0px 0px 2px $white;
                    border-radius:5px;
                    /* Reading List: */
                    font-family: $title-font;
                    font-size: 24px;
                    color: $dark-light;
                    height:50px;
                    line-height:50px;
                    text-transform: capitalize;

                    &:hover {
                        background-color:$focus;
                        color:$white;
                        box-shadow:none;
                        cursor: pointer;
                    }

                }

                a.selected span {
                    background-color:$focus;
                    color:$white;
                    box-shadow:none;
                }
            }
        }
    }
}

.dropdown {
    display:none;
}

.content {
    background-color:$light-background;
    width:calc(100% - 50px);
    max-width:1200px;
    min-height:800px;
    height: auto;
    padding:25px;
    margin:0px auto 200px;
}

@media only screen and (max-width: 805px) {
    .button-row {

        position:relative;
        left:-10px;
        width: calc(100% + 20px);


        ul {

            li {

                &.button {
                    span {
                        padding: 5px 20px;
                        font-size:20px;
                    }
                }
                
            }
        }
    }

}

@media only screen and (max-width: 700px) {

    .title {
        display:block;
    }

    .intro {
        margin-top:25px;
        margin-bottom:25px;
        width: 100%;
        font-size:24px;
        line-height:40px;
    }

    .profile-image {
        padding-top: 10px;

        img {
            max-width:300px;
        }
    }

    .content {
        position:relative;
        left:-25px;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .button-row {
        display:none;
    }
    .dropdown {
        display:block;
        height:50px;
        width:100%;
        margin-bottom:25px;
    }
}