<div class="subscribe-title">
  Subscribe!
</div>

<div class="subscribe-info">
    I am excited here at KyDeveloper to provide as much jam packed content as I can into our monthly newsletter. Submit your email below to receive our monthly news letter.
</div>

<div class="subscribe-form">
  <div class="input">
    <app-input
      [type]="inputType.EMAIL"
      [placeholder]="'Email'"
      [required]="true"
      (value)="email = $event">
    </app-input>
  </div>
  <div class="submit" (click)="submit()">
      <span *ngIf="!(loading$ | async)">Submit</span>
      <span *ngIf="(loading$ | async)" ><img src="assets/images/spinner.svg"></span>
</div>