@import '../../../../../styles.scss';


$star: #ABC5EA;
$buy-button: #EDF1F8;

.loading {
  img {
    margin: 50px auto;
    display: block;
  }
}

.item-container {

  .title {
    font-family: $body-font;
    color: $ri-title-color;
    font-size:36px;
    width:100%;
    font-weight: bold;
    align-items: center;
    display:inline-flex;
    margin-bottom:20px;
  }

  .tag-row {
    display:flex;
    flex-direction: row;
    margin-bottom: 20px;

    .category {
      text-transform: capitalize;
      height: 55px;
      padding: 0px 25px;
      border: 1px solid $ri-tag-row;
      color: $ri-tag-row;
      font-family: $body-font;
      font-size: 18px;
      line-height: 55px;
      border-radius: 5px;
      margin-right: 20px;
    }

    .clicks {

    }
  }

  .box {
    display: flex;
    flex-direction:row;
    min-height:200px;
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0 #9EB4C9;  
    margin-bottom: 20px;
    padding:10px;

    .image {
      img {
        width: 150px; 
      }
      margin-right: 20px;
    }

    .right-column {
      display: flex;
      flex-direction: column;

      div {
        font-family: $body-font;
        font-size: 24px;
        margin-bottom: 15px;
        color: #668BBE;
      }

      .date {

      }

      .author {

      }

      .options {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        align-items: center;

        a {
          .buy-button {
            border-radius: 5px;
            padding: 10px 30px;
            margin-right: 20px;
            background-color:$buy-button;
            color: #3B8FFF;
          }
        }


        .rating {
          display:flex;
          flex-direction:row;
          position:relative;
          top: 5px;
          margin-right: 30px;

          .star {
            margin-right: 8px;
            font-size:28px;
            color:$star;
          }
          .filled-star {

            &:before {
              content: "\2605";
              position:absolute;
            }
          }
        }
      }
    }
  }

  .summary {
            
    color: $dark;
    font-family: $body-font;
    letter-spacing: .03cm;
    //word-spacing: .04cm;
    font-size:20px;
    line-height:40px;
    //font-weight:bold;
    margin-bottom: 150px;
  }

  :host /deep/ .summary {
    img {
       max-width: 100%;
    }
  }

}