<div class="loading" *ngIf="(loading$ | async)">
  <img src="assets/images/30.svg">
</div>

<div class="item-container" *ngIf="( item$ | async ) != null && !(loading$ | async)">
  <div class="title">
    {{( item$ | async ).title}}
  </div>

  <div class="tag-row">
    <div class="category">
      {{(item$ | async).category}}
    </div>
    <div class="clicks">
        <app-post-icons
          class="center horizontal reading-item"
          [likes]="0"
          [shares]="0"
          [comments]="0">
        </app-post-icons>
    </div>
  </div>

  <div class="box">
    <div class="image">
      <img src="{{( item$ | async ).coverImage}}">
    </div>
    <div class="right-column">
      <div class="date">
        {{( item$ | async ).dateAdded}}
      </div>
      <div class="author">
        {{( item$ | async ).author}}
      </div>
      <div class="options">
        <a href="{{( item$ | async ).promoUrl}}" target="_blank">
          <div class="buy-button">
            Buy Now
          </div>
        </a>
        <div class="rating">
          <div class="filled-star star" *ngFor="let star of array(( item$ | async).rating)">☆</div>
          <div class="empty-star star" *ngFor="let star of array(5 - ( item$ | async).rating)">☆</div>
        </div>
      </div>
    </div>
  </div>

  <div [innerHtml]="(item$ | async).summary" class="summary"></div>
</div>