@import '../../../styles.scss';

$nav-height: 75px;

a {
    text-decoration:none;
}

nav {
    background-color:$white;
    height:$nav-height;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
}

.container {
    width: calc(100% - 60px);
    display: flex;
    flex-direction:row;
    padding: 0px 30px;
    height:$nav-height;
    line-height:$nav-height;


    .title {
        img {
            height:40px;
            vertical-align:middle;
            margin-right:2px;
        }

        font-family: $title-font;
        font-size:23px;
        font-weight:bold;
        letter-spacing: .05cm;
        color:$dark;
        min-width:200px;
    }

    .pages {
        width: 100%;
        
        ul {
            display:flex;
            flex-direction: row;
            list-style:none;
            margin:0px;
            padding:0px;

            a {
                &.selected {
                    li {
                        border-bottom: 2px solid $focus;
                    }
                }
            }

            li {
                min-width:100px;
                text-align:center;
                color: $dark;
                font-family: $nav-item-font;
                box-sizing: border-box;
                height: $nav-height;
                font-size:18px;

                &.gutter {
                    min-width: initial;
                    flex-grow: 1;
                }
            }
        }
    }

    .contact {
        min-width: 200px;
        text-align:center;

        .button {
            font-family: $nav-item-font;
            font-weight:300;
            color:$white;
            border: 1px solid $focus;
            color:$focus;
            padding: 8px 25px;
            border-radius:5px;
            font-size:18px;
            text-transform: uppercase;

            &:hover {
                background-color:$focus;
                color:$white;
                cursor: pointer;
            }
        }

        a.selected span.button {
            background-color:$focus;
            color:$white;
        }
    }
}