<nav>
  <div class="container">
      <a routerLink="/home" >
        <div class="title">
          <img src="assets/images/logo.png">
          KyDeveloper
        </div>
      </a>
    <div class="pages">
      <ul>
        <li class="gutter"></li>
        <a routerLink="/about" routerLinkActive="selected"><li>About</li></a>
        <li class="gutter"></li>
        <a routerLink="/portfolio" routerLinkActive="selected"><li>Portfolio</li></a>
        <li class="gutter"></li>
        <a routerLink="/blog" routerLinkActive="selected"><li>Blog</li></a>
        <li class="gutter"></li>
      </ul>
    </div>
    <div class="contact">
        <a routerLink="/contact" routerLinkActive="selected"><span class="button">Contact Me</span></a>
    </div>

  </div>

</nav>