<nav class="wide">
  <div class="container">
      <a routerLink="/home" >
        <div class="title">
          <img src="assets/images/logo.png">
          {{title}}
        </div>
      </a>
    <div class="pages">
      <ul>
        <li class="gutter"></li>
        <ng-container *ngFor="let page of pages">
          <a routerLink="{{page.url}}" routerLinkActive="selected"><li>{{page.title}}</li></a>
          <li class="gutter"></li>
        </ng-container>
      </ul>
    </div>
    <div class="contact">
        <a routerLink="/contact" routerLinkActive="selected"><span class="button">Contact Me</span></a>
    </div>

  </div>
</nav>

<nav class="mobile">
    <div class="container">
        <a routerLink="/home" >
          <div class="title">
            <img src="assets/images/logo.png">
            {{title}}
          </div>
        </a> 

        <div class="menu-row">
          <div class="menu" [ngClass]="{'opened': !closed}" (click)="toggle()">
              <object type="image/svg+xml" data="assets/images/menuicon.svg"></object>
          </div>
        </div>
    </div>
</nav>
<div class="dropdown" [ngClass]="{'closed': closed}">
  <a *ngFor="let page of pages" routerLink="{{page.url}}" routerLinkActive="selected">
    {{page.title}}
  </a>

</div>
