/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Oswald:300|Lato:300:400:500:600|Montserrat:400);

// SET UP COLORS:
$dark: #323232;
$dark-light: #565656;

$light-border: #979797;
$light-text: #C3C3C3;
$background: #EFEFEF;
$light-background: #f7f7f7;
$white: white;

$focus: #3B8FFF;
$dark-focus: #457ABF;
$dark-dark-focus:#3C67A0;


// SET UP FONTS:

$title-font: 'Oswald', sans-serif;
$body-font: 'Lato', sans-serif;
$nav-item-font: 'Montserrat', sans-serif;

// Reading List Colors

$rl-underline: #668BBE;
$rl-box-background: #EAEEF4;
$rl-title-color: #4E5967;
$rl-middle-color: #8898AE;
$rl-light-color: #F1F3F6;
$rl-review: #5A91DD;

body {
    background-color:$background;
}

a {
    text-decoration:none;
}